.App {
  text-align: center;
  background-color: #0b0b45;
  color: #e0e0e0;
  padding: 20px;
font-family: 'Space Grotesk', 'Montserrat', sans-serif;

}
.search-input {
  width: 97%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.title {
  width: 100%;
  text-align: left;
  margin: 20px 0;
  padding: 15px;
}
.card-container {
  color: #e0e0e0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}.card-container .card p{
  margin-bottom: 5px;
}
.card-container .card a{
  bottom:0;
}
.card-container .card {
  color: #e0e0e0;
  margin: 10px 20px;
  width: 16rem;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card .card-img-top {
  width: 100px;
  height: 100px;
}
.card .card-body {
 text-align: left;
}
